.button-toggle {
  display: inline-block;
  margin: 8px 16px;

  &__title {
    color: var(--light-grey);
    font-family: 'NotoSansCJKtc-Medium', 'Noto Sans TC', 'Noto Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 21px;
    margin-right: 16px;
  }

  &__toggles {
    display: inline-block;
  }

  &__option {
    border-radius: 4px;
    border: 0;
    color: var(--light-grey);
    font-family: 'NotoSansCJKtc-Regular', 'Noto Sans TC', 'Noto Sans', sans-serif;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 16px;
    margin-left: 4px;
    outline: none;
    padding: 4px 8px;
  }

  .is-selected {
    background-color: var(--blue);
    color: #FFFFFF;
  }
}
