.home {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: auto;
  max-width: 1366px;

  .divider {
    background: #D8D8D8;
    height: 1px;
    width: 100%;
  }

  .films {
    display: flex;
    flex-wrap: wrap;
    margin-top: 21px;
    width: 100%;
    overflow: auto;

    .no-data {
      color: var(--light-grey);
      text-align: center;
      width: 100%;
    }
  }

  .filters {
    width: 100%;
  }
}
